# Global settings
namespace:
  name: movie
  create: true

# StorageClass configuration
storageClass:
  name: gp2-immediate
  provisioner: kubernetes.io/aws-ebs
  parameters:
    type: gp2
  volumeBindingMode: Immediate
  reclaimPolicy: Delete

# MySQL Database configuration (Kubernetes deployment)
mysql:
  enabled: true
  name: movie-db
  image:
    repository: mysql
    tag: "8.0"
  replicas: 1
  database: movie_db
  user: movieuser
  password: moviepass
  rootPassword: rootpass
  port: 3306
  pvc:
    name: movie-db-pvc
    storageClassName: gp2-immediate
    size: 1Gi
    accessModes:
      - ReadWriteOnce
  livenessProbe:
    initialDelaySeconds: 30
    periodSeconds: 10
  readinessProbe:
    initialDelaySeconds: 20
    periodSeconds: 10

# Movie Service (Spring Boot) configuration
movieService:
  enabled: true
  name: movie-service
  image:
    repository: 543816070942.dkr.ecr.us-east-1.amazonaws.com/movieapp-backend
    tag: "30"    #previous working tag 29
  replicas: 1
  port: 8081
  env:
    springProfilesActive: docker
    springDatasourceUrl: jdbc:mysql://movie-db:3306/movie_db
    springDatasourceUsername: movieuser
    springDatasourcePassword: moviepass
    zipkinEndpoint: http://zipkin:9411/api/v2/spans
  service:
    type: LoadBalancer
    port: 8081
    targetPort: 8081

# ConfigMap for database initialization scripts
initScripts:
  enabled: true
  name: movie-init-scripts

